<footer class="page-footer font-small teal lighten-2 contacto">


    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-5">

            <!-- Grid column -->
            <div class="col-md-10 col-lg-6 col-xl-3 offset-xl-3 mb-4 mt-5">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Políticas</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block " style="width: 80px;">
                <p>
                    <a (click)="onPrivacidad()">Politica de privacidad</a>
                </p>
                <p>
                    <a (click)="onCookies()">Política de Cookies</a>
                </p>
                <p>
                    <a (click)="onAviso()">Aviso legal y términos de uso</a>
                </p>
            </div>

            <div class="col-md-10 col-lg-6 col-xl-3  mb-md-0 mb-4 mt-5">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Contacto</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 80px;">
                <p>
                    <mdb-icon fas icon="home" class="mr-3"></mdb-icon> Pereira, Risaralda (Colombia)
                </p>
                <p>
                    <mdb-icon fas icon="envelope" (click)="onMail()" class="mr-3"></mdb-icon> eyapublicidad22@gmail.com
                </p>
                <p>
                    <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> + 57 3226233796
                </p>
                <p>
                    <mdb-icon fab icon="facebook" (click)="onFacebook()" class="white-text mr-3"></mdb-icon> Publicidad EyA
                </p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <div class="footer-copyright text-center py-3">© {{ todayDate | date:'yyyy' }} Copyright:
        <a href="https://mdbootstrap.com/"> Publicidad E y A</a>
    </div>

</footer>
<!-- Footer -->
