<!-- Footer -->
<footer class="page-footer font-small elegant-color">

    <!-- Footer Links -->
    <div class="container">

        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-5 mb-3">

            <!-- Grid column -->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!">publicidad</a>
                </h6>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->
        <hr class="rgba-white-light" style="margin: 0 15%;">

        <!-- Grid row-->
        <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

            <div class="col-md-6 col-12 mt-5">
                <h5 class="text-uppercase font-weight-bold">Misión</h5>
                <p style="line-height: 1.7rem">
                    El objetivo y misión principal de este sitio web es ayudar a las personas en el ámbito laboral, dando distintos tipos de información que serán de utilidad para conseguir un empleo y mantenerse a un nivel competitivo, teniendo en cuenta la eficiencia,
                    eficacia y productividad.
                </p>
            </div>
            <div class="col-md-6 col-12 mt-5">
                <h5 class="text-uppercase font-weight-bold">Visión</h5>
                <p style="line-height: 1.7rem">
                    Nuestro plan de acción futuro es realizar videos, análisis y tutoriales que permitan capacitar a las personas que sigan este sitio web y se registren al mismo, paras así mantener informados sobre novedades de empleabilidad y más consejos que harán falta
                    en este mundo altamente competitivo y globalizado.
                </p>
            </div>
        </div>
        <!-- Grid row-->
        <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

        <!-- Grid row-->
        <div class="row pb-3">

            <!-- Grid column -->
            <div class="col-md-12">

                <div class="mb-5 flex-center">

                    <!-- Facebook -->
                    <a class="fb-ic" (click)="onFacebook()">
                        <mdb-icon fab icon="facebook" size="lg" class="white-text mr-4"></mdb-icon>
                    </a>

                    <a class="fb-ic" (click)="onMail()">
                        <mdb-icon fas icon="envelope" size="lg" class="white-text mr-4"></mdb-icon>
                    </a>

                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© {{ todayDate | date:'yyyy' }} Copyright:
        <a href="https://mdbootstrap.com/"> Publicidad E y A</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->