<!--Main Navigation-->
<header class="intro-header">

    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <mdb-navbar-brand>
            <a class="logo navbar-brand waves-light" mdbWavesEffect href="#"><strong>BLOG WORK</strong></a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item waves-light" routerLinkActive="active" mdbWavesEffect>
                    <a class="nav-link" [routerLink]="['inicio']">Inicio</a>
                </li>

                <li class="nav-item waves-light" routerLinkActive="active" mdbWavesEffect>
                    <a class="nav-link" [routerLink]="['nosotros']">Nosotros</a>
                </li>

                <li class="nav-item waves-light" routerLinkActive="active" mdbWavesEffect>
                    <a class="nav-link" [routerLink]="['contact']">Contactanos</a>
                </li>
            </ul>
        </links>

    </mdb-navbar>

    <!--Intro Section-->
    <section class="view intro-video">
        <video class="h-100" poster="https://firebasestorage.googleapis.com/v0/b/blog-work-da93f.appspot.com/o/video%2Fvideo-home.mp4?alt=media&token=8d5e7412-0826-4ae2-a66a-f3f6b1b7dcbe" playsinline autoplay muted loop>
          <source src="https://firebasestorage.googleapis.com/v0/b/blog-work-da93f.appspot.com/o/video%2Fvideo-home.mp4?alt=media&token=8d5e7412-0826-4ae2-a66a-f3f6b1b7dcbe" width="100" type="video/mp4">
        </video>
        <div class="mask rgba-black-strong">
            <div class="full-bg-img">
                <div class="container flex-center">
                    <div class="row pt-5 mt-5">
                        <div class="col-lg-6 offset-lg-3 wow fadeIn mb-5 text-center text-lg-left">
                            <div class="white-text">
                                <h2 class="h1 h1-responsive font-bold wow fadeInLeft text-center" data-wow-delay="0.3s">TIPS EMPLEO</h2>
                                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                                <p class="wow fadeInLeft text-center" wow-delay="0.3s">
                                    En esta página encontrarás consejos a tener en cuenta, recomendaciones, algunos tips y diversas plataformas que te ayudarán a conseguir el empleo al que aspiras.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</header>
<!--Main Navigation-->