.bg-img {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/blog-work-da93f.appspot.com/o/img%2Fteam.jpg?alt=media&token=c8ddea7e-bd35-4e0b-bde8-9bf924a023e6');
  background-repeat: no-repeat;
  background-size: cover;
}
