<div class="container">
  <hr class="mt-5">
  <p class="h1 text-uppercase text-center ">Nosotros</p>
  <hr class="mb-5">
</div>

<div class="row mt-5 mb-5">
    <div class="col-xl-1 "></div>
    <div class="col-xl-10 col-md-12 bg-img">

        <div class="col-xl-12 mb-4 mt-5">
            <div class="rgba-black-strong">
                <div class="white-text text-center d-flex align-items-center  py-5 px-4">
                    <div>
                        <h5 class="teal-text"><strong>¿ Quiénes somos ?</strong></h5>
                        <h3 class="card-title py-3 font-weight-bold"><strong>Publicidad E y A</strong></h3>
                        <p class="pb-3 ">
                            Somos un grupo de estudiantes de diversas universidades de Colombia que busca compartir conocimiento útil de diversas áreas multidisciplinarias que pueden llegar a interesar a ciudadanos de todo tipo de ocupaciones.Nuestro objetivo principal es difundir
                            los saberes previamente adquiridos en nuestra ruta hacía una formación profesional e integra. somos jovenes emprededores.
                        </p>
                        <a class="fa-lg p-2 m-2 fb-ic">
                            <mdb-icon fab icon="facebook-f" class="white-text"></mdb-icon>
                        </a>

                        <a class="fa-lg p-2 m-2 fb-ic">
                            <mdb-icon fas icon="envelope" class="white-text"></mdb-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row mt-5">
    <div class="col-xl-5 offset-xl-1 col-md-12">
        <mdb-card style="background-image: url('https://firebasestorage.googleapis.com/v0/b/blog-work-da93f.appspot.com/o/img%2Fpexels-victor-freitas-685526.jpg?alt=media&token=adb78b8e-8187-48b1-98ac-37fdace2cb15');background-repeat: no-repeat;background-size: cover;"
            class="card-image mb-3 mx-2">
            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                <div>
                    <h3 class="teal-text h3">
                        <mdb-icon fas icon="eye"></mdb-icon>
                        VISIÓN
                    </h3>
                    <p>
                        Nuestro plan de acción futuro es realizar videos, análisis y tutoriales que permitan capacitar a las personas que sigan este sitio web y se registren al mismo, paras así mantener informados sobre novedades de empleabilidad y más consejos que harán falta
                        en este mundo altamente competitivo y globalizado.
                    </p>
                </div>
            </div>
            <!-- Content -->
        </mdb-card>
    </div>
    <div class="col-xl-5 col-md-12">
        <mdb-card style="background-image: url('https://firebasestorage.googleapis.com/v0/b/blog-work-da93f.appspot.com/o/img%2Fpexels-alfauzikri-325135.jpg?alt=media&token=da2fc55e-b5db-4cbd-9f55-6d99bd9f3130');background-repeat: no-repeat;background-size: cover;"
            class="card-image mb-3 mx-2">
            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                <div>
                    <h3 class="teal-text h3">
                        <mdb-icon fas icon="chart-line"></mdb-icon>
                        MISIÓN
                    </h3>
                    <p>
                        El objetivo y misión principal de este sitio web es ayudar a las personas en el ámbito laboral, dando distintos tipos de información que serán de utilidad para conseguir un empleo y mantenerse a un nivel competitivo, teniendo en cuenta la eficiencia,
                        eficacia y productividad
                    </p>
                </div>
            </div>
            <!-- Content -->
        </mdb-card>
    </div>
</div>
