<div class="row">
    <div class="col-xl-2"></div>
    <div class="col-xl-8">
        <div class="jumbotron text-center mt-5">

            <h4 class="card-title h4 pb-2"><strong>¿ Quiénes somos ?</strong></h4>

            <!-- Card image -->
            <div class="overlay my-4 waves-light" mdbWavesEffect>
                <img src="https://firebasestorage.googleapis.com/v0/b/blog-work-da93f.appspot.com/o/img%2Fteam.jpg?alt=media&token=c8ddea7e-bd35-4e0b-bde8-9bf924a023e6" class="img-fluid" alt="">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <h5 class="elegant-text h5 mb-4">Publicidad E y A</h5>

            <p class="card-text">
                Somos un grupo de estudiantes de diversas universidades de Colombia que busca compartir conocimiento útil de diversas áreas multidisciplinarias que pueden llegar a interesar a ciudadanos de todo tipo de ocupaciones.Nuestro objetivo principal es difundir
                los saberes previamente adquiridos en nuestra ruta hacía una formación profesional e integra. somos jovenes emprededores.

            </p>

            <a class="fa-lg p-2 m-2 fb-ic">
                <mdb-icon fab icon="facebook-f" class="grey-text"></mdb-icon>
            </a>

            <a class="fa-lg p-2 m-2 fb-ic">
                <mdb-icon fas icon="envelope" class="grey-text"></mdb-icon>
            </a>

        </div>
        <!-- Jumbotron -->
    </div>
</div>