<div class="row  principal">
    <div class="col-xl-2"></div>
    <div class="col-xl-8">
        <div>
            <h2 class="h1-responsive font-weight-bold text-center my-5">Blog Empleo</h2>
            <p class="text-center w-responsive mx-auto mb-5">
              Tips para tener en cuenta a la hora de conseguir empleo y mejorar tus probabilidades de acceder a un mejor empleo
            </p>
        </div>
        <!--Section: Blog v.4-->
        <section class="my-5 mt-5" #target>

            <!--Grid row-->
            <div class="row">
                <div class="col-md-12">
                    <!--Featured image-->
                    <mdb-card cascade="true" wider="true" reverse="true">
                        <div class="view-cascade overlay waves-light" mdbWavesEffect>
                            <mdb-card-img src="https://firebasestorage.googleapis.com/v0/b/blog-work-da93f.appspot.com/o/img%2Ftrabajo3.jpg?alt=media&token=bc259ec1-9c6f-47ba-9856-2eab41a2c438" alt="Wide sample post image"></mdb-card-img>
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Post data-->
                        <mdb-card-body cascade="true" class="text-center">
                            <h2>
                                <a class="font-weight-bold"> Ofertas de empleo</a>
                            </h2>
                            <p>{{ todayDate | date:'short' }}</p>
                        </mdb-card-body>
                        <!--Post data-->
                    </mdb-card>

                    <!--Excerpt-->
                    <div class="excerpt mt-5">
                        <p>
                            Es de vital importancia el objetivo principal a la hora de buscar un empleo, existen diversos portales online que pueden ayudarte, hoy en día las grandes empresas optan por la conectividad y llegar a más personas por medio del Internet.
                        </p>
                        <p>
                            Se desea llegar a un buen trabajo y para ello es importante responder a las siguientes preguntas:
                        </p>
                        <ul>
                            <li>¿a qué sector económico quiero pertenecer?</li>
                            <li>¿En qué empresas quiero trabajar?</li>
                            <li>¿Cuál es el rango de salario que estoy dispuesto a cobrar por mi trabajo?</li>
                            <li>¿A qué puesto en la empresa aspiro? </li>
                        </ul>
                    </div>
                </div>
            </div>

            <hr class="mb-5 mt-4">

            <section class="my-5">

                <div class="row">

                    <!-- Grid column -->
                    <div class="col-lg-5 col-xl-4">

                        <!-- Featured image -->
                        <div class="overlay rounded z-depth-1-half mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                            <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/blog-work-da93f.appspot.com/o/img%2Ftrabajo4.jpg?alt=media&token=e4cb465e-605c-4a6e-b14b-dda4d7f2b893" alt="Sample image">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-7 col-xl-8">

                        <!-- Post title -->
                        <h3 class="font-weight-bold mb-3"><strong>Hoja de vida</strong></h3>
                        <!-- Excerpt -->
                        <p class="dark-grey-text">En todo el mundo la hoja de vida es el documento principal a la hora de ser contratado y Colombia no es la excepción, tú hoja de vida debe de encontrarse bien diligenciada, teniendo en cuenta todos los aspectos que la conforman
                            los cuáles son :</p>

                        <ul>
                            <li>Datos personales</li>
                            <li>Perfil</li>
                            <li>Estudios</li>
                            <li>Experiencia</li>
                            <li>Cursos de formación continua</li>
                            <li>Habilidades</li>
                        </ul>

                        <p>Evite la suspicacia que puedan causar los vacíos laborales, es recomendable mencionar todos sus empleos anteriores.</p>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

                <hr class="my-5">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-lg-5 col-xl-4">

                        <!-- Featured image -->
                        <div class="overlay rounded z-depth-1-half mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                            <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/blog-work-da93f.appspot.com/o/img%2Ftrabajo1.jpg?alt=media&token=db43d378-3ef4-48ac-8d17-64e15acb40cd" alt="Sample image">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-7 col-xl-8">

                        <!-- Post title -->
                        <h3 class="font-weight-bold mb-3"><strong>Difusión de solicitudes</strong></h3>
                        <!-- Excerpt -->

                        <p class="dark-grey-text">
                            Están algunos los cuáles pueden hacer tu proceso de difusión de hojas de vida mucho más sencillo , llegarán a ti ofertas de empleo con el tiempo si sabes diligenciar de buena manera tus datos en la hoja de vida, te recomendamos escuchar los consejos que
                            hay por todo Internet.
                        </p>
                        <ul>
                            <li>
                                <a href="https://www.computrabajo.com/" target="_blank" rel="noopener noreferrer">Computrabajo</a>
                            </li>
                            <li>
                                <a href="https://www.elempleo.com/" target="_blank" rel="noopener noreferrer">Elempleo</a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">Linkedin</a>
                            </li>
                            <li>
                              <a href="https://torre.co/es" target="_blank" rel="noopener noreferrer">Torre</a>
                            </li>
                            <li>
                              <a href="https://www.buscojobs.com.co/" target="_blank" rel="noopener noreferrer">Buscojobs</a>
                            </li>
                            <li>
                              <a href="https://ticjob.co/" target="_blank" rel="noopener noreferrer">Ticjob</a>
                            </li>
                            <li>
                              <a href="https://co.talent.com/" target="_blank" rel="noopener noreferrer">Talent</a>
                            </li>
                        </ul>
                        <p><a class="font-weight-bold">{{ todayDate | date:'short' }}</a></p>

                    </div>
                    <!-- Grid column -->

                </div>

            </section>

            <hr class="mb-5 mt-4">

            <div class="row">
                <div class="col-md-12">
                    <!--Featured image-->
                    <mdb-card cascade="true" wider="true" reverse="true">
                        <div class=" view-cascade overlay waves-light" mdbWavesEffect>
                            <img src="https://firebasestorage.googleapis.com/v0/b/blog-work-da93f.appspot.com/o/img%2Ftrabajo2.jpg?alt=media&token=22ffe49c-6240-49d1-be6c-adffb12f28c0" alt="Second wide sample post image" class="img-fluid">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Post data-->
                        <mdb-card-body cascade="true" class="text-center">
                            <h2>
                                <a class="font-weight-bold"> La Entrevista</a>
                            </h2>
                            <p>{{ todayDate | date:'short' }}</p>
                        </mdb-card-body>



                        <!--Post data-->
                    </mdb-card>


                    <!--Excerpt-->
                    <div class="excerpt mt-5">
                        <p>
                            Es quizás el punto más difícil y que supone el mayor reto, la interacción directa con la persona encargada de evaluar al personal que puede o no entrar a la empresa a continuación te daremos # consejos para que puedas triunfar en dicha entrevista.
                        </p>

                        <p>
                            <strong>El vestuario y apariencia:</strong> es una de los aspectos más importantes a la hora de elegir personal en latinoamérica, muchos evaluadores se guían por la apariencia de los participantes, la limpieza y la apariencia
                            del cabello, poca fragancia, que apenas se note, para hombres una camisa, corbata, pantalón elegante y zapatos para la ocasión, va muy bien, para las mujeres pueden optar por un vestuario sutil, de oficina, tacones pantalón
                            de tiro alto y camisa de cuello.
                        </p>
                        <p>
                            <strong>Mantente sereno:</strong>Siempre debes de optar por una postura serena, tranquila,esto ayudará a los primeros minutos de charla con el entrevistador, evita a toda costa moverse en exceso.
                        </p>
                    </div>
                </div>
            </div>

        </section>
        <!--Section: Blog v.4-->
    </div>
</div>
